/*Joe Bursch*/
html {
	background-color:#b47c53;
    margin: 0 auto;
    padding: 0;
}

body  {
	font-family: Georgia, Helvetica, sans-serif;
	background-color: #b47c53;
	margin: 0 auto;
}

header {
    background-color: #b47c53;
}

#nav {
    width:45%;
    margin: 0 auto;
}

#nav ul {
	margin:0;
	padding:0;
}

#nav li {
	float:left;
	width:25%;
	list-style-type: none; 
	position: relative;
}

#nav a {
	color:white;
    font-weight: bold;
	background-color: #b47c53;
	text-align: center;
	padding: 0.313rem 0;
	text-decoration: none;
	display:block;
}

#nav a.current {
	color:#fbdd62;
}

#nav a:hover, #nav a:focus {
    background-color: #f2b79f;
}

header h1 {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(1.85rem + 1vw);
    padding: 0 0.625rem 0 0.625rem;
}

section {
    background-color: #b47c53;
    text-align: center;
}

section h1 {
    font-size: 4vw;
}

section h2 {
    text-align: center;
    padding-top: 0.625rem;
}

section p {
    padding: 0 0.625rem;
    padding-bottom: 1.25rem;
    text-align: center;
    font-size: 1.125rem;
    width: 50%;
    margin: 1.25rem auto;
}

section img {
    width: 45%;
    padding: 0;
    display: block;
    margin: 0 auto;
    border: 2px solid black;
    
}

body h1 img {
    width: 4%;
    padding: 0.125rem;
}

footer {
    font-size: 0.9rem;
    text-align:center;
    color: black;
    border-top: 2px solid black;
    background-color: #b47c53;
    padding: 0.625rem 1.25% 0.625rem 1.25%;
}

#printButton {
    background-color: #f2b79f;
    border: 2px solid black;
    border-radius: 0.313rem;
    padding: 0.2rem;
    margin: 0.313rem auto;
    font-size: 0.9rem;
    font-weight: bold;
    color: black;
    display: block;
    text-align: center;
}

#printButton:hover, #printButton:focus {
    cursor: pointer;
}

@media only screen and (max-width: 642px) {
    #nav a {
        font-size: 0.8rem;
    }

    footer {
        font-size: 0.7rem;
    }

    body h1 img {
        width: 15%;
    }
    #nav {
    width: 100%;
    }

    #nav li {
    width: 100%;
    }

    #nav a {
    padding: 0.625rem 0;
    }

    section p {
    width: 80%;
    }
}

@media only screen and (max-width: 400px) {
    section h1 {
        font-size: 8vw; 
    }

    header h1 {
        font-size: 6vw;
    }

    #nav a {
        font-size: 0.8rem;
    }

    footer {
        font-size: 0.7rem;
    }
}
